@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
.blog__page__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  padding-top: 5rem;
  justify-content: center;
  background: rgb(255, 255, 255);
  margin: auto;

  .blog__page__logo {
    width: 35%;
    margin: auto;
    margin-bottom: 2rem;
  }

  .blog__index__list {
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    list-style: none;

    .blog__page__item {
      width: 100%;
      min-height: 30vh;
      padding: 1rem 2rem;
      margin-bottom: 2rem;
      cursor: pointer;
      border-bottom: #00291f solid 0.2rem;

      .blog__page__link {
        text-decoration: none;

        .blog__post__title {
          color: #00291f;
          text-align: center;
          font-size: 1.8rem;
          margin-bottom: 1.4rem;
          letter-spacing: 0.2rem;
        }
        .blog__post__sub__title {
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin-bottom: 1.5rem;

          .blog__post__reading__time {
            text-align: end;
            color: rgb(255, 96, 68);
            font-size: 0.8rem;
            letter-spacing: 0.12rem;
          }
          .blog__post__date {
            text-align: start;
            color: rgb(255, 96, 68);
            font-size: 0.8rem;
            letter-spacing: 0.12rem;
          }
        }
        .blog__post__description__div {
          display: flex;
          width: 90%;

          .blog__post__description {
            color: #00291f;
            font-family: "Caveat", cursive;
            justify-self: auto;
            font-size: 1.4rem;
            letter-spacing: 0.15rem;
          }
        }
        &:hover .blog__post__description {
          font-size: 1.6rem;
          letter-spacing: 0.15rem;
          transition: ease-in 400ms;
        }
      }
    }
    @media screen and (max-width: 960px) {
      .blog__page__item {
        .blog__page__link {
          .blog__post__title {
            font-size: 1.2rem;
            text-align: center;
          }
          .blog__post__sub__title {
            display: flex;
            flex-direction: column;
            justify-content: inherit;
            place-items: start;

            .blog__post__date {
              margin-bottom: 1rem;
              font-size: 0.6rem;
              text-align: start;
            }
            .blog__post__reading__time {
              font-size: 0.6rem;
              text-align: start;
              margin-bottom: 1rem;
            }
          }
          .blog__post__description__div {
            .blog__post__description {
              font-size: 1.2rem;
              text-align: start;
            }
          }
        }
      }
    }
  }
}
