@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
.header__container {
  // background-color: #1d5661;
  background-color: #00291f;
  display: flex;
  width: 100%;
  height: 3.5rem;
  position: sticky;
  top: 0;
  z-index: 5;

  .header__logo__home {
    display: flex;
    height: 100%;
    min-width: 11rem;
    margin: auto;
    margin-left: 0;

    .header__logo__link {
      margin: auto;
      margin-left: 2rem;
      text-decoration: none;
      height: 3.5rem;

      .header__logo__title {
        display: flex;
        align-items: center;
        height: 3.5rem;
        margin: auto;
        font-family: "Caveat", cursive;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
        // color: rgb(0, 255, 255);
        letter-spacing: 0.1rem;
      }
    }
  }
  .header__bars {
    display: none;
  }

  .header__menu {
    display: flex;
    height: 100%;
    min-width: 10rem;
    margin: auto;
    margin-right: 0;
    list-style: none;

    .header__menu__item {
      text-decoration: none;
      width: 5rem;
      height: 3.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      color: rgb(255, 255, 255);
      font-size: 0.7rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
    }
    .active__header__menu__item {
      color: rgb(255, 96, 68);
    }
  }
  @media screen and (max-width: 960px) {
    .header__logo__home {
      .header__logo__link {
        margin-left: 1rem;

        .header__logo__title {
          font-size: 1.2rem;
        }
      }
    }
    .header__bars {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 2rem;
      background-color: transparent;
      align-items: center;
      justify-content: center;

      .header__menu__btn {
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
      }
    }
    .header__menu {
      background-color: #00291f;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: -100vh;
      opacity: 1;
      // margin-top: 3.5rem;
      transition: all 0.2s ease;
      z-index: 2;
    }
    .header__menu.mobile {
      top: 0;
      margin-top: 3.5rem;
      z-index: 2;
    }
    .header__link {
      width: 100%;
      height: 3.5rem;

      &:hover {
        background-color: #013f30;
        transition: all 0.3s ease;
      }

      .header__menu__item {
        width: 100%;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
      }
    }
  }
}
